{
  "parser": "babel-eslint",
  "extends": [
    "google"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "semi": [2, "never"],
    "object-curly-spacing": 0,
    "eol-last": [2, "never"],
    "require-jsdoc": 0,
    "no-unused-vars": 0
  }
}